body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: purple;
   }
body:myCanvas:{
  alt:"Pulpit rock" ,width:"250", height:"350"
}



a:link {
  color: blue }
a:visited {
  color: purple }

